@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-striped text-center" id="Table-Data">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ClientModel[0].Name)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ClientModel[0].ClientNumber)
            </th>
            <th class="text-center">Actions</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ClientModel)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.ClientNumber)
                </td>
                <td class="text-center">
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
