@page
@model EncomendasProject.Pages.Encomenda.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EncomendaModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4 col-md-3 col-lg-2">
            @Html.DisplayNameFor(model => model.EncomendaModel.EncomendaNumero)
        </dt>
        <dd class="col-sm-8 col-md-9 col-lg-10">
            @Html.DisplayFor(model => model.EncomendaModel.EncomendaNumero)
        </dd>

        <dt class="col-sm-4 col-md-3 col-lg-2">
            @Html.DisplayNameFor(model => model.EncomendaModel.Client)
        </dt>
        <dd class="col-sm-8 col-md-9 col-lg-10">
            @Html.DisplayFor(model => model.EncomendaModel.Client.Name)
        </dd>

        <dt class="col-sm-4 col-md-3 col-lg-2">
            @Html.DisplayNameFor(model => model.EncomendaModel.WorkerID)
        </dt>
        <dd class="col-sm-8 col-md-9 col-lg-10">
            @if (Model.EncomendaModel.Worker != null)
            {
                @Model.EncomendaModel.WorkerID
            }
            else
            {
                <span></span>
            }
        </dd>

        <dt class="col-sm-4 col-md-3 col-lg-2">
            @Html.DisplayNameFor(model => model.EncomendaModel.Worker.Name)
        </dt>
        <dd class="col-sm-8 col-md-9 col-lg-10">
            @if (Model.EncomendaModel.Worker != null)
            {
                @Model.EncomendaModel.Worker.Name
            }
            else
            {
                <span></span>
            }
        </dd>

        <dt class="col-sm-4 col-md-3 col-lg-2">
            @Html.DisplayNameFor(model => model.EncomendaModel.Status)
        </dt>
        <dd class="col-sm-8 col-md-9 col-lg-10">
            @Html.DisplayFor(model => model.EncomendaModel.Status)
        </dd>

        <dt class="col-sm-4 col-md-3 col-lg-2">
            @Html.DisplayNameFor(model => model.EncomendaModel.DataCriacao)
        </dt>
        <dd class="col-sm-8 col-md-9 col-lg-10">
            @Html.DisplayFor(model => model.EncomendaModel.DataCriacao)
        </dd>

        <dt class="col-sm-4 col-md-3 col-lg-2">
            @Html.DisplayNameFor(model => model.EncomendaModel.DataInicioPreparacao)
        </dt>
        <dd class="col-sm-8 col-md-9 col-lg-10">
            @Html.DisplayFor(model => model.EncomendaModel.DataInicioPreparacao)
        </dd>

        <dt class="col-sm-4 col-md-3 col-lg-2">
            @Html.DisplayNameFor(model => model.EncomendaModel.DataFimPreparacao)
        </dt>
        <dd class="col-sm-8 col-md-9 col-lg-10">
            @Html.DisplayFor(model => model.EncomendaModel.DataFimPreparacao)
        </dd>
    </dl>
</div>

<div>
    <h4>Products</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EncomendaModel.EncomendaProducts)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.EncomendaModel.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

<div>
    <button id="printButton" onclick="printEncomenda()">Imprimir Encomenda</button>
</div>

<div id="printableArea" class="printable-content">
    <!-- Conteúdo da encomenda para impressão -->
    <h1>Detalhes da Encomenda</h1>
    <hr />
    <h4>Encomenda Número: @Model.EncomendaModel.EncomendaNumero</h4>
    <dl class="row">
        <dt class="col-sm-2">
            Cliente
        </dt>
        <dd class="col-sm-10">
            @Model.EncomendaModel.Client.Name
        </dd>
       
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @Model.EncomendaModel.Status
        </dd>
    </dl>

    <h4>Produtos</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Nome do Produto</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EncomendaModel.EncomendaProducts)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Quantity</td>
                </tr>
            }
        </tbody>
    </table>

    <!-- QR Code gerado -->
    <div>
        <h4>Código QR</h4>
        <img id="qrCodeImage" src="/Encomenda/Details?handler=GenerateQRCode&encomendaNumero=@Model.EncomendaModel.EncomendaNumero" alt="QR Code" />

    </div>
</div>

<script>
    function printEncomenda() {
        var printContents = document.getElementById('printableArea').innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>

<style>
    /* Hide the printable area on screen */
    .printable-content {
        display: none;
    }

    /* Show the printable area during print */
    @@media print {
        .printable-content {
            display: block;
        }
        
        /* Hide everything else except the printable area */
        body * {
            visibility: hidden;
        }
        .printable-content, .printable-content * {
            visibility: visible;
        }
        .printable-content {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }
    }
</style>
