@page
@model EncomendasProject.Pages.Encomenda.IndexModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-page="/Encomenda/Create" class="btn btn-primary">Criar nova Encomenda</a>
</p>

<table class="table table-striped" id="Table-Data">
    <thead>
        <tr>
            <th class="text-center">Numero encomenda</th>
            <th class="text-center">Cliente</th>
            <th class="text-center">Colaborador</th>
            <th class="text-center">Data de Criação</th>
            <th class="text-center">Data Inicio Preparação</th>
            <th class="text-center">Data Fim Preparação</th>
            <th class="text-center">Estado</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EncomendaModel)
        {
            <tr>
                <td class="text-center">@item.EncomendaNumero</td>
                <td class="text-center">@item.Client.Id</td>
                <td class="text-center">@(item.Worker != null ? item.Worker.Name : "N/A")</td>
                <td class="text-center">@item.DataCriacao.ToShortDateString()</td>
                <td class="text-center">
                    @if (item.DataInicioPreparacao.HasValue && item.DataInicioPreparacao != DateTime.MinValue)
                    {
                        @item.DataInicioPreparacao.Value.ToShortDateString()
                    }
                    else
                    {
                        <span>N/A</span>
                    }
                </td>
                <td class="text-center">
                    @if (item.DataFimPreparacao.HasValue && item.DataFimPreparacao != DateTime.MinValue)
                    {
                        @item.DataFimPreparacao.Value.ToShortDateString()
                    }
                    else
                    {
                        <span>N/A</span>
                    }
                </td>
                <td class="text-center">@item.Status</td>
                <td class="text-center">
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detalhes</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
